.wrapper {
	font-family: 'Open Sans', sans-serif;
	min-height: 100%;
	color: white;
}

.container {
	max-width: 1345px;
	margin: 0 auto;
	background-color: white;
	border-radius: 5px;
	padding: 30px 25px;
	color: #32325d;
}
